body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, .8);
    font-weight: bold;  
  }

.body {
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613243165_178-p-temno-sinii-fon-dlya-fotoshopa-207.jpg);
}

.header {
    display: flex; 
    align-items: center;
    /*background-color: rgba(0, 0, 0, 0.404);*/
    justify-content: space-between;
    height: 60px; 
    border-radius: 10px;
    margin-top: 20px;
    color: rgba(255, 255, 255, .8);
    max-width: 400px; width: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column; 
}

.logo {
    width: 50px; 
}

.firstname {
    text-align: center; 
}

.nav {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.burger {
    height: 30px;
    width: 50px;
}

.menu {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
}

.link1, .link2 {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 5px;
    top: 0px;
    padding: 8px;
}

.link1 {
    width: 45px;
    right: 62px;
}

.link2 {
    width: 48px;
    left: 62px;
}

.link1 a, .link2 a {
    padding: 5px;
    text-decoration: none;
}

.link a:hover {background-color: rgba(0, 0, 0, 0.7);}

.menu:hover+ .link{
	opacity:0;
	animation: an 1.5s forwards;
}

@keyframes an {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.nav:hover .link1 {display: block;}
.nav:hover .link2 {display: block;}

.nav:hover .menu {background-color: rgba(0, 0, 0, 0.7);}

.columns {
    width: 1300px;
    margin: 90px auto 30px;
    border-radius: 15px;
    background-position: center;
    /*background-color: rgba(0, 0, 0, 0.4);*/ 
    font-size: 16px; 
}

.col1, .col2, .col3, .col4 {
    vertical-align: top;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 600px; 
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.555);
    box-sizing: border-box;
    border-top-left-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
    background-color: rgba(0, 0, 0, 0.4);
}

.colimage {
    border-top-left-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
    margin-right: 20px;
    height: 130px;
    width: 130px;
    float: left;
}

.footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.mainlogo, .nav, .col1, .col2, .col3, .col4, .footer {opacity: 0;}

.mainlogo {animation: ani 1.5s forwards 0.3s;}

.nav {animation: ani 1.5s forwards 0.6s;}

.col1 {animation: ani 1.5s forwards 0.9s;}
  
.col2 {animation: ani 1.5s forwards 1.2s;}
  
.col3 {animation: ani 1.5s forwards 1.5s;}
  
.col4 {animation: ani 1.5s forwards 1.8s;}

.footer {animation: ani 1.5s forwards 2.1s;}
  
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 1300px) {
    .backbody {
        height: 110%;
    }

    .header {
        margin-bottom: 40px;
        align-items: center;
        background-size: auto;
        justify-content: space-between;
    }

    .columns { 
        margin: 90px auto 0;
        width: auto; 
        max-width: 700px;
    }

    .col1, .col2, .col3, .col4 {
        width: auto;
        margin: 15px;   
    }

    .footer {
        margin-top: 20px;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column; 
    }

    .firstname {
        margin: auto;
    }
}    